# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
*.pyc
*.pyo

# Django specific
*.log
*.pot
media/*
static/*
*.sqlite3
local_settings.py
db.sqlite3

# Environments
.venv/
venv/
ENV/
env/

# OS or Editor related files
.DS_Store
*.swp
*~
*.bak
.vscode/
.idea/

# Secret files
*.key
*.pem

tvStartup/media/thumbnails/
tvStartup/media/thumbnails/*
tvStartup/media/videos/
tvStartup/media/videos/*
tvStartup/media/
tvStartup/media/*